yacs==0.1.8
scipy==1.7.3
scikit-image==0.19.3
scikit-learn==1.0.2
PyYAML==6.0
Pillow==9.1.0
numpy==1.22.4
opencv-python==4.6.0.66
imageio==2.18.0
ffmpeg-python==0.2.0
av==10.0.0
gradio
transformers
dlib
urllib3==1.26.6
#windows pip3 install soundfile


moviepy==1.0.3


#CodeFormer
addict
future
lmdb
requests
tb-nightly
tqdm
yapf
lpips
gdown # supports downloading the large file from Google Drive







#torch
#torchaudio
#torchvision

#windows GPU
#pip3 install torch torchvision torchaudio  --index-url https://download.pytorch.org/whl/cu121

#windwos CPU  或者 mac CPU MPS
# pip3 install torch torchvision torchaudio torchaudio